@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Specialty

<h4>Add a new specialty</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description, "Description:")
  @Html.TextBoxFor(model => model.Description)
  <br>
  <input type="submit" value="Add new Specialty" class = "btn btn-primary btn-primary:hover"/>
}
<p>@Html.ActionLink("Show all Specialties", "Index",null, null, new { @class = "btn btn-primary btn-primary:hover"})</p>